[cluster]
ips = <<ips splitted by space>>
db = mysql / postgresql
port = 3306
dbname = <<dbname>>
username = <<db username>>
password = <<db password>>

[node]
ip = <<local_ip>>
hb_port = <<heartbeat ip>>