[cluster]
ips = <<ips splitted by space>>

dbtype = mysql / mariadb / postgresql
dbport = 3306
dbname = <<dbname>>
dbusername = <<db username>>
dbpassword = <<db password>>

node_port = <<port for heartbeat>>
data_port = <<port for data access>>

[node]
ip = <<local_ip>>
