[cluster]
ips = <<ips splitted by space>>
dbtype = mysql / postgresql
port = 3306
dbname = <<dbname>>
username = <<db username>>
password = <<db password>>

[node]
ip = <<local_ip>>
heartbeat_port = <<port for heartbeat>>
data_port = <<port for data access>>